body {
    color: rgb(143, 142, 201);
    font-family: 'Times New Roman', Times, serif; 
    text-align: center;
    background-color: rgb(154, 255, 184);
}

h1{
    color:rgb(65, 66, 145);
}



